@page
@model PricingCalendar.Pages.PricingCalendarEntryWindows.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PricingCalendarEntryWindow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PricingCalendarEntryWindow.PricingCalendarEntryID" class="control-label"></label>
                <select asp-for="PricingCalendarEntryWindow.PricingCalendarEntryID" class ="form-control" asp-items="ViewBag.PricingCalendarEntryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PricingCalendarEntryWindow.RentalPeriodID" class="control-label"></label>
                <select asp-for="PricingCalendarEntryWindow.RentalPeriodID" class ="form-control" asp-items="ViewBag.RentalPeriodID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PricingCalendarEntryWindow.StartAt" class="control-label"></label>
                <input asp-for="PricingCalendarEntryWindow.StartAt" class="form-control" />
                <span asp-validation-for="PricingCalendarEntryWindow.StartAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricingCalendarEntryWindow.EndAt" class="control-label"></label>
                <input asp-for="PricingCalendarEntryWindow.EndAt" class="form-control" />
                <span asp-validation-for="PricingCalendarEntryWindow.EndAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricingCalendarEntryWindow.DurationHours" class="control-label"></label>
                <input asp-for="PricingCalendarEntryWindow.DurationHours" class="form-control" />
                <span asp-validation-for="PricingCalendarEntryWindow.DurationHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricingCalendarEntryWindow.PricingCalendarEntryPrice" class="control-label"></label>
                <input asp-for="PricingCalendarEntryWindow.PricingCalendarEntryPrice" class="form-control" />
                <span asp-validation-for="PricingCalendarEntryWindow.PricingCalendarEntryPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
